.iframe-box {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    overflow: hidden !important;
}

.browser-header {
    position: relative;
    width: 100%;
    height: 40px;
    background: #2b2b2b;
}

.browser-header-items {
    height: 100%;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    background: transparent;
    border: 0;
    color: #eee;
    font-size: 1.1em;
}

.url-bar {
    margin-left: 15px;
    height: 75%;
    /*padding-bottom: 1px;*/
    background: #3d3d3d;
    width: calc(80% - 25px);
    border: 1px solid #444444;
    border-radius: 3px;
}

.url-input {
    margin-left: 5px;
    height: 100%;
    width: calc(100% - 55px);
    align-items: center;
    background: transparent !important;
    border: 0;
    color: #eeeeee;
}

.url-input-background {
    height: 100%;
    width: calc(100% - 55px);
    align-items: center;
    background: transparent !important;
    border: 0;
    color: #eeeeee;
}

.ssl-icon {
    padding: 5px 10px 4px;

    color: red;
    border-right: 1px solid #717171;


    /*border-left: 1px solid blue;*/
    /*border-top: 1px solid blue;*/
    /*border-bottom: 1px solid blue;*/
}
.ssl-icon.lock {
    color: #00ff48;
}
.ssl-icon.lock:hover {
    text-shadow: 0 0 5px #00ff48;
}
.ssl-icon.unlock {
    color: #717171;
    text-shadow: 0 -1px #960000, 1px 0 #960000, 0 1px #960000, -1px 0 #960000;

}
.ssl-icon.unlock > .fa-lock {
    display: none;
}
.ssl-icon.lock > .fa-unlock {
    display: none;
}

.browser-body {
    position: relative;
    width: 100%;
    height: calc(100% - (40px + 18px));
}

.iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
}

.browser-footer {
    position: relative;
    width: 100%;
    height: 18px;
    background: #eeeeee;
}